<section class="section-apple bg-white lp-specs" aria-labelledby="SpecsHeading-{{ section.id }}">
  <div class="apple-container">
    {%- if section.settings.eyebrow != blank -%}
      <p class="overline-blue">{%- if section.settings.eyebrow != blank -%}{{ section.settings.eyebrow }}{%- else -%}{{ 'home.specs.eyebrow' | t }}{%- endif -%}</p>
    {%- endif -%}
    <h2 id="SpecsHeading-{{ section.id }}" class="headline-section text-center">{%- if section.settings.heading != blank -%}{{ section.settings.heading }}{%- else -%}{{ 'home.specs.heading' | t }}{%- endif -%}</h2>

    <div class="lp-specs__card">
      <table class="lp-specs__table">
        <caption class="visually-hidden">{%- if section.settings.heading != blank -%}{{ section.settings.heading }}{%- else -%}{{ 'home.specs.heading' | t }}{%- endif -%}</caption>
        <tbody>
          <tr>
            <th scope="row">{{ 'spec_row.dimensions_label' | t }}</th>
            <td>{{ 'spec_row.dimensions_value' | t }}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'spec_row.power_label' | t }}</th>
            <td>{{ 'spec_row.power_value' | t }}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'spec_row.connectivity_label' | t }}</th>
            <td>{{ 'spec_row.connectivity_value' | t }}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'spec_row.privacy_label' | t }}</th>
            <td>{{ 'spec_row.privacy_value' | t }}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'spec_row.storage_label' | t }}</th>
            <td>{{ 'spec_row.storage_value' | t }}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'spec_row.placement_label' | t }}</th>
            <td>{{ 'spec_row.placement_value' | t }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Specifications",
  "tag": "section",
  "settings": [
    { "type": "text", "id": "eyebrow", "label": "Eyebrow", "default": "Technical details" },
    { "type": "text", "id": "heading", "label": "Heading", "default": "Specifications" }
  ],
  "presets": [{ "name": "Specifications" }]
}
{% endschema %}
