<div class="page-width form-stack customer-reset-password">
  <h1>{{ 'customers.reset_password.title' | t }}</h1>
  <p>{{ 'customers.reset_password.lede' | t }}</p>

  {%- form 'reset_customer_password' -%}
    {%- if form.errors -%}
      <div class="form__errors" role="alert">
        {{ form.errors | default_errors }}
      </div>
    {%- endif -%}

    <label for="NewPassword">{{ 'customers.reset_password.password' | t }}</label>
    <input
      id="NewPassword"
      type="password"
      name="customer[password]"
      autocomplete="new-password"
      required
    >

    <label for="NewPasswordConfirmation">{{ 'customers.reset_password.password_confirm' | t }}</label>
    <input
      id="NewPasswordConfirmation"
      type="password"
      name="customer[password_confirmation]"
      autocomplete="new-password"
      required
    >

    <button type="submit" class="button">{{ 'customers.reset_password.submit' | t }}</button>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Reset password",
  "settings": []
}
{% endschema %}
