<div class="page-width form-stack customer-activate-account">
  <h1>{{ 'customers.activate_account.title' | t }}</h1>
  <p>{{ 'customers.activate_account.lede' | t }}</p>

  {%- form 'activate_customer_password' -%}
    {%- if form.errors -%}
      <div class="form__errors" role="alert">
        {{ form.errors | default_errors }}
      </div>
    {%- endif -%}

    <label for="ActivatePassword">{{ 'customers.activate_account.password' | t }}</label>
    <input
      id="ActivatePassword"
      type="password"
      name="customer[password]"
      autocomplete="new-password"
      required
    >

    <label for="ActivatePasswordConfirmation">{{ 'customers.activate_account.password_confirm' | t }}</label>
    <input
      id="ActivatePasswordConfirmation"
      type="password"
      name="customer[password_confirmation]"
      autocomplete="new-password"
      required
    >

    <button type="submit" name="commit" class="button">{{ 'customers.activate_account.submit' | t }}</button>
    <button type="submit" name="decline" class="button button--secondary">{{ 'customers.activate_account.decline' | t }}</button>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Activate account",
  "settings": []
}
{% endschema %}
